.block {
  position: relative;
  display: flex;
  flex-direction: column;

  overflow: hidden;
  // resize: both;

  min-height: 200px;
  max-height: 400px;
  min-width: 250px;

  box-shadow: var(--block-shadow);
  &__tittle {
    color: #fff;
  }
  &__link {
    color: #fff;

    &:hover,
    &:focus {
      outline-style: none;
      color: var(--brand_clr__1);
    }
  }
  &.--prod-list {
    // margin: 8px;
    flex-basis: 30px;
    flex-grow: 5;
  }
  &.--prod-create {
    flex-basis: 250px;
    flex-grow: 2;
    min-height: 200px;
    max-height: 350px;
  }
  &.--prod-stock {
    flex-basis: 250px;
    flex-grow: 2;
    min-height: 200px;
    max-height: 350px;
  }
  & .header {
    display: block;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 5;

    height: 30px;
    width: 100%;
    padding: 7px 16px;

    background-color: var(--brand_clr__2);
  }
  & .content {
    display: flex;
    flex-direction: column;

    height: calc(100% - 35px);
  }
  & .footer {
    display: block;
    position: sticky;
    top: 100%;
    left: 0;
    z-index: 5;

    height: 5px;
    width: 100%;

    background-color: var(--brand_clr__2);
  }

  & .overflow {
    overflow: auto;
    width: 100%;
    // width: 400px;
    height: 100%;
  }
}
