.button {
  display: block;
  border-style: none;
  transition: var(--timing-function__main);
  &.--for_menu {

    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.05em;
    color: var(--brand_clr__1);
    
    padding: 8px 16px;
    background-color: var(--brand_clr__2);
    
    &:hover,
    &:focus,
    &:active {
      background-color: var(--brand_clr__2-hover);
    }
  }
}
