.table {
  &__tittle {
    text-align: center;
    color: var(--text-clr__primary);
  }
  &__subtittle {
    text-align: center;
    font-size: 14px;
    line-height: 1.3;
    
    color: var(--text-clr__primary);
  }
  &.--sizes {
    // border: 1px solid var(--table-row-brdr-clr__primary);
    // & .thead {}
    // & .tbody {}
    // & .row {}
    & .col {
      border: 1px solid var(--table-row-brdr-clr__primary);
    }
  }
  &.--stock {
    & .col {
      border: 1px solid var(--table-row-brdr-clr__primary);
    }
  }
}
